.horizontal(@start: #555, @end: #333, @file) {
  background-color: @end;
  background-repeat: repeat-x;
  background-image: url("@{file}");
  background-image: -khtml-gradient(linear, left top, right top, from(@start), to(@end));
  background-image: -moz-linear-gradient(left, @start, @end);
  background-image: -ms-linear-gradient(left, @start, @end);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, @start), color-stop(100%, @end));
  background-image: -webkit-linear-gradient(left, @start, @end);
  background-image: -o-linear-gradient(left, @start, @end);
  background-image: linear-gradient(left, @start, @end);
  /*.pie;*/
}
.vertical (@start: #555, @end: #333, @file='') {
  background-color: @end;
  background-repeat: repeat-x;
  background-image: url("@{file}");
  background-image: -khtml-gradient(linear, left top, left bottom, from(@start), to(@end));
  background-image: -moz-linear-gradient(top, @start, @end);
  background-image: -ms-linear-gradient(top, @start, @end);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, @start), color-stop(100%, @end));
  background-image: -webkit-linear-gradient(top, @start, @end);
  background-image: -o-linear-gradient(top, @start, @end);
  background-image: linear-gradient(top, @start, @end);
  -pie-background: linear-gradient(top, @start, @end);
  //filter: unquote("progid:DXImageTransform.Microsoft.gradient(startstr={@start}, endstr={@end}, GradientType=0)");
  /*.pie;*/
}
/*.directional(@startColor: #555, @endColor: #333, @deg: 45deg, @file) {*/
.directional(@start: #555, @end: #333, @deg: 45deg, @file='') {
  background-color: @end;
  background-repeat: repeat-x;
  /*background-image: url("@{file}");*/
  background-image: -moz-linear-gradient(@deg, @start, @end);
  background-image: -ms-linear-gradient(@deg, @start, @end);
  background-image: -webkit-linear-gradient(@deg, @start, @end);
  background-image: -o-linear-gradient(@deg, @start, @end);
  background-image: linear-gradient(@deg, @start, @end);
}
.vertical-three-colors(@start: #00b3ee, @mid: #7a43b6, @stop: 50%, @end: #c3325f, @file) {
  background-color: @end;
  background-repeat: repeat-x;
  background-image: url("@{file}");
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@start), color-stop(@stop, @mid), to(@end));
  background-image: -webkit-linear-gradient(@start, @mid @stop, @end);
  background-image: -moz-linear-gradient(top, @start, @mid @stop, @end);
  background-image: -ms-linear-gradient(@start, @mid @stop, @end);
  background-image: -o-linear-gradient(@start, @mid @stop, @end);
  background-image: linear-gradient(@start, @mid @stop, @end);
}
